<table class="table table-responsive table-hover">
  <tr>
    <th>Miejsce</th>
    <th>Nazwa Drużyny</th>
    <th>Punkty</th>
  </tr>

  <% @teams.each do |team| %>
  <tr>
    <td><%= team.place %></td>
    <td><%= team.name %></td>
    <td><%= team.score %></td>
  </tr>
  <% end %>
</table>

<%= link_to 'Kolejki spotkań', rounds_index_path, class: 'btn btn-primary btn-large', style: 'float:right' %>

<% if Round.active_rounds.blank? %>
    <p>Rozegrano wszystkie kolejki, przejdź do podsumowania.</p><br>
    <%= link_to "Podsumowanie", seasons_path, class: 'btn btn-default' %>
    <% end %>