<div class="jumbotron" style="text-align: center"><h2>TERMINARZ</h2></div>

<table class="table table-responsive table-hover">
  <tr>
    <th>Runda</th>
    <th>Status</th>
  </tr>
  <% @rounds.each do |round| %>
      <tr>
        <% if round.status == 'closed' %>
            <td><del><%= "Runda #{round.id}" %></del></td>
            <td><%= round.status %></td>
        <% elsif round.status == 'open' %>
            <td><%= link_to "Runda #{round.id}", show_round_path(round) %></td>
            <td><%= round.status %></td>
        <% else %>
            <td><%= "Runda #{round.id}" %></td>
            <td><%= round.status %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<div class="jumbotron" style="margin-top: 100px; text-align: center"><h2>KLASYFIKACJA DRUŻYN</h2></div>
<table class="table table-responsive table-hover">
    <tr>
      <th>Miejsce</th>
      <th>Nazwa Drużyny</th>
      <th>Punkty</th>
    </tr>

    <% @teams.each do |team| %>
        <tr>
          <td><%= team.place %></td>
          <td><%= team.name %></td>
          <td><%= team.score %></td>
        </tr>
    <% end %>
</table>

<% if Round.active_rounds.blank? && Round.count != 0 %>
    <%= link_to 'Nowy Sezon', new_season_path, class: 'btn btn-large btn-danger' %>
<% end %>