<div class="jumbotron" style="text-align: center"><h2>SEZON ROZPOCZĘTY</h2></div>

<table class="table table-responsive">
  <tr>
    <th>Runda</th>
    <th>Status</th>
  </tr>
  <% @rounds.each do |round| %>
  <tr>
    <% if round.status == 'closed' %>
        <td><del><%= "Runda #{round.id}" %></del></td>
        <td><%= round.status %></td>
    <% elsif round.status == 'open' %>
        <td><%= link_to "Runda #{round.id}", show_round_path(round) %></td>
        <td><%= round.status %></td>
    <% else %>
        <td><%= "Runda #{round.id}" %></td>
        <td><%= round.status %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Klasyfikacja Drużyn', classification_path, class: 'btn btn-primary btn-large', style: 'float:right' %>

<% if Round.active_rounds.blank? && Round.count != 0 %>
    <p>Rozegrano wszystkie kolejki, przejdź do podsumowania.</p><br>
<%= link_to "Podsumowanie", seasons_path, class: 'btn btn-default' %>
<% end %>