<!DOCTYPE html>
<html>
<head>
  <title>SoccerManager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>

<% flash.each do |key, value| %>
    <%= js add_gritter(value, flash[key], :image => key, :title => "Komunikat:", nodom_wrap: true) %>
<% end %>

<% if Rails.env.development? %>
<%= debug(params) %>
<% end %>

</body>
</html>
